<!DOCTYPE html>
<html>

<head>
    <title>Photo Album</title>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBNbnj5zvXUkoxyIEZFiii55Kew4qdqwkY",
            authDomain: "photoalbum-5a03d.firebaseapp.com",
            databaseURL: "https://photoalbum-5a03d.firebaseio.com",
            projectId: "photoalbum-5a03d",
            storageBucket: "photoalbum-5a03d.appspot.com",
            messagingSenderId: "785433669204"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css" />

    <link rel="stylesheet" href="stylesheets/photostyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="javascripts/script.js"></script>
    <script src="javascripts/photo.js"></script>
</head>

<body ng-app="photo" ng-controller="MainCtrl">
    <nav class="navbar navbar-dark justify-content-between" style="background-color: #001d4d;">
        <a class="navbar-brand" href="#">Photo Album</a>
        <button class="btn btn-info" id="sign-in-out-btn">Sign In</button>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 top-buffer background-light">
                <img class="profile-picture" id="user-image">
                <h4 class="top-buffer" id="welcome-status"></h4>
            </div>
            <div class="col-sm-9 text-center">
                <h1 class="top-buffer photo-header">Photos</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5 class="photo-form-header">Add a new photo to the collection</h5>
                <form name="photoForm" ng-submit="addPhoto(photoForm)" class="form-geneva">
                    <div class="form-group">
                        <h6 class="top-buffer text-white">Title</h6>
                        <input placeholder="Title" ng-model="photoForm.title" /><br>
                        <h6 class="top-buffer text-white">Photo URL</h6>
                        <input placeholder="Enter a URL" ng-model="photoForm.photoURL" /><br>
                        <button class="btn btn-info top-buffer" type="submit">Add Photo</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                <div ng-repeat="photo in photos">
                    <div class="card float-left img-card-custom" style="width: 20rem;">
                        <img class="card-img-top" src="{{photo.url}}" alt="Photo">
                        <div class="card-body">
                            <h5 class="card-text form-geneva">Title: {{photo.title}}</h5>
                            <h7 class="card-text form-geneva">Contributed by: {{photo.user}}</h7>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
